@model IEnumerable<Hospital.Models.CenterDevice>
@{
    ViewBag.Title = "Print";
    Layout = null;
}
@using ZXing;
@using System.Drawing;
@using System.Drawing.Imaging;
<html lang="ar-eg" dir="rtl">
<head>
    <!-- Plugin Css Put Here -->
    <link href="~/Content2/Ar-assets/css/bootstrap-rtl.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/selectize.bootstrap3-rtl.css">
    <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/bootstrap-progressbar-3.1.1-rtl.css">
    <link rel="stylesheet" href="~/Content2/Ar-assets/css/rtl-css/plugins/jquery-jvectormap-rtl.css">

    <link href="https://fonts.googleapis.com/css2?family=Tajawal&amp;display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Tajawal',Tahoma !important;
        }


        h1, h2, h3, h4, h5, h6, a, span, th {
            font-family: 'Tajawal',Tahoma !important;
        }
    </style>

    <style>
        h1, h2, h3, h4, h5, h6, a, span, th {
            text-align: right;
        }

        body {
            text-align: right;
        }

        table, th, td {
            border: 1px solid black;
            padding-right: 5px;
        }

        .dot {
            height: 100px;
            width: 100px;
            background-color: #efebeb;
            border-radius: 50%;
            display: inline-block;
        }

        tr {
            height: 45px !important;
        }

        .D {
            font-weight: 300 !important;
            font-size: 12px;
        }

        @@page {
            size: auto; /* auto is the initial value */
            margin: 0; /* this affects the margin in the printer settings */
            border: 1px solid black;
        }

        @@media print {
            .pagebreak {
                clear: both;
                page-break-after: always;
            }
        }
    </style>
</head>
<body style="overflow-x:hidden;">
    <br /><br /><br />
    <div class="row" style="padding: 0 10% 0 10%;">
        @{ int Count = 0;}
        @foreach (var item in Model)
        {
            Count++;
            string folderPath = "~/Images/";
            string imagePath = "../../Images/QrCode" + item.Id + ".jpg";
            // If the directory doesn't exist then create it.
            if (!Directory.Exists(Server.MapPath(folderPath)))
            {
                Directory.CreateDirectory(folderPath);
            }

            var barcodeWriter = new BarcodeWriter();
            barcodeWriter.Format = BarcodeFormat.QR_CODE;
            var result = barcodeWriter.Write("https://7-v.net/Website/SendCenterRequest?DeviceId=" + item.Id);
            //var result = barcodeWriter.Write("http://sayyaf-001-site2.itempurl.com/Website/SendCenterRequest?DeviceId=" + item.Id);

            string barcodePath = Server.MapPath(imagePath);
            var barcodeBitmap = new Bitmap(result);
            using (MemoryStream memory = new MemoryStream())
            {
                using (FileStream fs = new FileStream(barcodePath, FileMode.Create, FileAccess.ReadWrite))
                {
                    barcodeBitmap.Save(memory, ImageFormat.Jpeg);
                    byte[] bytes = memory.ToArray();
                    fs.Write(bytes, 0, bytes.Length);
                }
            }
            <div class="col-xs-4">
                <p style="text-align:center">@item.NameEn</p>
                <p style="text-align:center">@item.ComputerNumber - @item.Serial</p>
                <img src="@imagePath" alt="Image" style="width:400px;" />
            </div>
            if (Count == 12)
            {
                Count = 0;
                <div class="pagebreak"> </div>
                <br /><br /><br />
            }
        }
    </div>

    <script type="text/javascript" src="~/Content2/Ar-assets/js/lib/jquery-1.11.min.js"></script>
    <script>

        window.print();

    </script>
</body>
</html>


